* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


header {
  height: 95vh;
  background-image: linear-gradient(0deg,rgba(255,255,255,0.6),rgba(255,255,255,0.6)), url(../images/cotton.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.romanLogo {
  height: 200px;
  padding: 10px;
}

.navbar {
  overflow: hidden;
  text-align: right;
}

.navbar a {
  background-color: #ff0c00;
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  margin-right: 10px;
  margin-top: 20px;
  text-decoration: none;
}

.dropdown {
  background-color: #ff0c00;
  float: right;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 20px;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: #ff0c00;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  margin-right: 0;
  margin-top: 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  text-align: right;
  padding-top: 10vh;
  padding-right: 20px;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover {
  color: red;
}

.header li {
  font-size: 1.1em;
  list-style-type: none;
  display: inline-block;
  padding-left: 10px;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 7em;
  letter-spacing: 0.03em;
  color: #ff0c00;
}

h2 {
  color: black;
  font-family: 'Kaushan Script', cursive;
  margin-top: -2em;
  /* padding-right: 1em; */
  font-size: 2em;
}

h3 {
  font-family: 'Kaushan Script', cursive;
  margin-top: -2.2em;
  /* padding-right: 1em; */
  font-size: 1.5em;
}

h4 {
  color: black;
  margin-bottom: 15px;
  font-size: 1.7em;
  font-family: 'Dosis', cursive;
  margin-top: 0;
  margin-left: 10px;
}

.title {
  font-family: 'Dosis', cursive;
}

.recruiting {
  font-family: 'Dosis', cursive;
  padding: 2px;
}

.logo {
  max-width: 100px;
  float: right;
}

.Hickorys {
  height: 150px;
  bottom: 30px;
  position: absolute;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  margin-top: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: black;
  padding: 8px;
}

.cardImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.container {
  padding: 0 16px;
  margin-top: 18px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.name {
  color: #f00a00;
}

.title {
  color: white;
  margin-top: -6px;
  font-family: 'Dosis', cursive;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.profileCards {
  background-color: white;
  padding-top: 30px;
}

footer {
  border-top: 2px solid white;
  font-family: 'Dosis', cursive;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #E82D2A;
}

.LatestFixture {
  max-width: 100%;
  padding-top: 10px;
}
.rightText {
  text-align: right;
}

.schedule {
  font-weight: bold;
  color: #EB2D2A;
  padding: 2px;
  text-decoration: none;
}

.schedule:hover {
  background-color: #EB2D2A;
  color: white;
}

.titleSection {
  margin-top: 10px;
}

h6 {
    font-family: 'Kaushan Script', cursive;
    padding-left: 20px;
    font-size: 1.5em;

}

p {
    font-family: 'Dosis', sans-serif;
    padding-left: 20px;
    color: white;

}

.list {
    font-family: 'Dosis', sans-serif;
    font-size: 1.2em;
    padding-left: 20px;
    color: white;
    text-align: center;
    line-height: 1.5em;
}

.list a {
  color: white;
  text-decoration: none;
}

.list a:hover {
  color: red;
  background-color: white;
}

.intro {
  background-color: #EB2D2A;
  color: white;
  padding-top: 10px;
}

.intro p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 2em;
}

.child p {
  color: #EB2D2A;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.parent2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.parent3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
}

.red {
  color: #f00c00;
}

.parent3 p {
  color: #f00c00;
}

.child {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
  grid-row-gap: 10px;
}

.advert {
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin-right: 80px;
  padding-right: 20px;
  padding-top: 10px;
  text-align: center;
  background-color: white;
  color: #EB2D2A;
}

.advert p {
  color: #EB2D2A;
}


.whiteText {
  color: #EB2D2A;
}

.teamImage {
  width: 100%;
  height: 500px;
  object-position: center;
  object-fit: cover;
}

.ptable table{
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 10px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: #EB2D2A;
	color: white;
}

.headin{
	text-align: center;
	text-decoration: none;
	color: #EB2D2A;
	margin: 10px;
	display: block;
}

.wpos{
	text-align: center;
}

.wpos td{
	color: #EB2D2A;
}

.pos{
	text-align: center;
}

.pos td{
	color: #EB2D2A;
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}

.wpos:hover{
	background-color: #EB2D2A;
}

.wpos:hover td{
  color: white;
}

.pos:hover{
	background-color: #EB2D2A;
}

.pos:hover td{
	color: white;
}

@media only screen and (max-width: 1200px) {
  .parent2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0fr 0fr 0fr 0fr 0fr;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
  }

  .child {
    text-align: center;
  }

  .ptable {
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) and (min-width: 319px) {
  .column {
    width: 100%;
  }

  header {
    height: 95vh;
  }

  .navbar {
    text-align: center;
  }

  .navbar a {
    width: 100%;
    background-color: #EB2D2A;
    padding: 10px;
    margin: 0;
    text-align: center;
  }

  .dropdown {
    margin: 0;
    width: 100%;
    background-color: #EB2D2A;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin: 0;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #EB2D2A;
  }

  .dropdown-content {
    width: 100%;
  }

  .dropdown-content a {
    text-align: center;
    margin-right: 0;
    margin-top: 0;
  }


  .header li {
    font-size: 0.8em;
    list-style-type: none;
    display: inline-block;
    padding-left: 2px;
    float: right;
  }

  h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    letter-spacing: 0.03em;
    color: #ff0c00;
  }

  h2 {
    color: black;
    font-family: 'Kaushan Script', cursive;
    margin-top: -1.5em;
    /* padding-right: 1em; */
    font-size: 1em;
  }

  .logo {
    max-width: 50px;
    /* float: right; */
    margin-top: 25px;
    position: absolute;
    right: 20px;
  }

  .Hickorys {
    height: 90px;
    position: absolute;
  }

  .container {
    padding: 0 5px;
  }


  footer {
    font-size: 0.6em;
  }

  h6 {
      font-family: 'Kaushan Script', cursive;
      padding-left: 5px;
      font-size: 1.2em;

  }

  p {
      padding: 5px;
  }


  .parent {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0px;
  }

  .parent3 {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0px;
  }

  .child {
    text-align: center;
  }

  .ptable {
    margin: 0 auto;
  }

  .advert {
    width: 100%;
    padding-right: 0px;
    padding-top: 10px;
    background-color: white;
    color: #EB2D2A;
    margin: 0 auto;
  }

  .teamImage {
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
  }

  .ptable table{
  	border-collapse: collapse;
  }

  th, td {
      padding: 5px 5px;
  }

  th{
  	background-color: #EB2D2A;
  	color: white;
  }

  .headin{
  	text-align: center;
  	text-decoration: none;
  	color: #EB2D2A;
  	margin: 1px;
  	display: block;
  }

  .wpos{
  	text-align: center;
  }

  .wpos td{
  	color: #EB2D2A;
  }

  .pos{
  	text-align: center;
  }

  .pos td{
  	color: #EB2D2A;
  }

  table .col{
  	border-bottom: 1px solid #FFFFFF;
  }

  .wpos:hover{
  	background-color: #EB2D2A;
  }

  .wpos:hover td{
    color: white;
  }

  .pos:hover{
  	background-color: #EB2D2A;
  }

  .pos:hover td{
  	color: white;
  }
}
